:root {	
	font-size: 16px;
	background-color:#f4f4f2;
	font-weight: normal;
	font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

.todo-foodstyling{
    background-color: #222222;
	background-position: top center;
	background-size: 100vw;
	position: relative;
	padding: 1rem;
	color: cornsilk;
}

.food-encabezado{
    padding: 2rem 0 2rem 0;
}

.fotos-food{

	width: 100%;
	height: auto;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.fotos-food> img{
	width: 100%;
	height: 90%;
	object-fit: cover;
	filter: brightness(85%);
}

.fotos-food> img:hover{
	filter:brightness(100%);
	animation: escalar 1.5s infinite alternate;
	cursor: pointer;
}

@keyframes escalar{
	to {
		transform: scale(1);
	}
	from {
		transform: scale(1.05);
	}
}