:root {	
	font-size: 16px;
	background-color:#f4f4f2;
	font-weight: normal;
	font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

.todo-foodstyling{
    background-color: #222222;
	background-position: top center;
	background-size: 100vw;
	position: relative;
	padding: 1rem;
	color: cornsilk;
}

.food-encabezado{
    padding: 2rem 0 2rem 0;
}

.fotos-food{

	width: 100%;
	height: auto;
	max-height: fit-content;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;

}
.foodstyling{
	width: 100%;
	height: auto;
}

