:root {	
	font-size: 16px;
	background-color:#f4f4f2;
	font-weight: normal;
	font-style: normal;
    font-family: 'Montserrat', sans-serif;
}
.pagina-servicios{
    background-color: #222222;
	
	background-position: top center;
	background-size: 100vw;
	position: relative;
	padding: 1rem;
	color: cornsilk;
}
.stock, .personal, .cm, .carta{
    border  : dotted 2px #bedbbb;
    border-radius: 1rem;
	padding: 2rem;
}